<h1>Rooms <%= @room.name %></h1>
<br>
<br>
<div class="container">
  <div class="row">
    Players:
    <% @room.users.each do |user| %>
        <div class="col-sm-1">
          <%= user.name %>
        </div>
    <% end %>
  </div>
</div>
<br>
<br>
<% if @room.image.present? %>
  <%= cl_image_tag @room.image, class: "img" %>
  <% end %>
<% if @current_user.present? %>
<%= link_to 'Edit', edit_room_path( @room ) %>
|
<%= link_to 'Delete', room_path( @room ), method: 'delete' %>
<% end %>
<br>
<br>
<%# link_to "Back to Index", rooms_path, class: "btn btn-info btn-block btn-sm buttonFont customButton" %>
