<script>
  const room_id = <%= @room.id %>;
</script>

<h1>Rooms <%= @room.name %></h1>
<br>
<br>
<div class="container">
  <div class="row">
    Players:
    <% @room.users.each do |user| %>
        <div class="col-sm-1">
          <%= user.name %>
        </div>
    <% end %>
  </div>
</div>
<br>
<br>
<% if @room.image.present? %>
  <%= cl_image_tag @room.image, class: "img" %>
  <% end %>
<% if @current_user.present? %>
<%= link_to 'Edit', edit_room_path( @room ) %>
|
<%= link_to 'Delete lol', room_path( @room ), method: 'delete' %>
<% end %>
<br>
  <div class="col-sm-10">
    <% if @room.gamestate["canStart"] %>
     <%= button_to "Start game", class: "btn btn-danger btn-lg", id: "start" %>
    <% else %>
      <%= 'Not enough players to start' %>
    <% end %>
  </div>
<br>
<%# link_to "Back to Index", rooms_path, class: "btn btn-info btn-block btn-sm buttonFont customButton" %>

if @user.stateObject["mafia"]
  sdasdiu
  else

<% if flash[:errors] %>
  <strong>The following errors need to be corrected :</strong>
  <ol>
    <% flash[:errors].each do |e| %>
    <li>
      <%= e %>
    </li>
    <% end %>
  </ol>
<% end %>





<h1>Messages:</h1>
<div id="messages" data-chatroom=<%=@room.id%>>
  <% @room.messages.each do |r| %>
    <b><%= r.user.name %>: </b><%= r.text_body %> <br></b><%= time_ago_in_words(r.created_at) %> <br>
  <% end %>
</div>
<br>
<%= render partial: 'messages/message_form', locals:{room:@room, message: @message}%>

<% if false %>
  <div class="message">
  <%= form_tag @message do %>
  <div class="form-group row">
    <div class="col-sm-10">
      <%= text_area_tag :text_body, placeholder= 'Chat here' %>
    </div>
  </div>
  <%= hidden_field_tag :room_id, @room.id %>
  <div class="col-sm-10">
    <%= submit_tag "Save", class: "btn btn-primary btn-lg" %>
    <% end %>
  </div>
<% end %>
