<!DOCTYPE html>
<html>
  <head>
    <title>Mafia Game</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
  </head>
  <body>
    <h1>Mafia</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <% if @current_user.present? %>

    <div class="nav navbar-nav navbar-right">
     <p>Welcome <strong><%= @current_user.name%>!</strong></p>&nbsp;&nbsp;&nbsp;&nbsp;
     <div class="text-left settingButton">
        <%= link_to "Setting", edit_user_path(@current_user), class: "btn btn-primary btn-block btn-sm buttonFont"%>
                        </div>&nbsp;&nbsp;&nbsp;&nbsp;
      <div class = "settingButton">
         <%= link_to "Log out", login_path, method: :delete, class: "btn btn-danger btn-block btn-sm buttonFont"%></div>&nbsp;&nbsp;&nbsp;&nbsp;
      <div class = "settingButton">
         <%= link_to "Rooms", rooms_path, class: "btn btn-primary btn-block btn-sm buttonFont"%></div>
   </div>
   <% else %>
   <!-- <li class="nav-item"> -->
     <%# link_to "Sign In", login_path%>
   <!-- </li> -->
   <!-- |
   | -->
   <li class="nav-item">
     <%= link_to "Sign Up", new_user_path%>
   </li>
   <!-- |
   | -->
   <!-- <li class="nav-item"> -->
     <%# link_to "Rooms", rooms_path%>
   <!-- </li> -->
 <% end %>
</nav>
    <hr>

    <%= yield %>
  </body>
</html>
